In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
dataset=pd.read_csv('GameAzon - Usecase/fraud_or_not/train.csv')

In [3]:
dataset.head()

,trans_id,fraud_or_not,trans_dt,trans_amt,prod_code,card_no1,card_no2,card_no3,card_no4,card_no5,...,fs_31,fs_32,fs_33,fs_34,fs_35,fs_36,fs_37,fs_38,device_type,device_info
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,True,False,True,True,mobile,SAMSUNG SM-G892A Build/NRD90M
2,2987005,0,86510,49.0,W,5937,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987006,0,86522,159.0,W,12308,360.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987007,0,86529,422.5,W,12695,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
max_dt=max(dataset['trans_dt'])
min_dt=min(dataset['trans_dt'])

In [5]:
max_dt,min_dt

(15811131, 86400)

In [6]:
#processing card_no1,card_no2,card_no3,card_no5
dataset['cat_card']=1
dataset.loc[(np.isnan(dataset['card_no1'])) & (np.isnan(dataset['card_no2'])) & (np.isnan(dataset['card_no3'])) & (np.isnan(dataset['card_no5'])),'cat_card']=0

In [7]:
#processing address1,address2
dataset['cat_addr']=1
dataset.loc[(np.isnan(dataset['address1'])) & (np.isnan(dataset['address2'])),'cat_addr']=0

In [8]:
#processing district1,district2
dataset['cat_dist']=1
dataset.loc[(np.isnan(dataset['district1'])) & (np.isnan(dataset['district2'])),'cat_dist']=0

In [9]:
#processing P_emaildomain
dataset['P_emaildomain']=dataset['P_emaildomain'].apply(lambda email:str(email).split('.')[0])
#processing R_emaildomain
dataset['R_emaildomain']=dataset['R_emaildomain'].apply(lambda email:str(email).split('.')[0])

In [10]:
#processing fs_33
def res_mul(val):
    if val is not np.NaN:
        val = val.split('x')
        return int(val[0].strip())*int(val[1].strip())
    
dataset['fs_33'] = dataset['fs_33'].apply(res_mul)

#processing fs_23
dataset['fs_23'] = dataset['fs_23'].apply(lambda x: str(x).split(':')[-1])

#processing fs_30
dataset['fs_30'] = dataset['fs_30'].apply(lambda x: str(x).split(' ')[0])

#processing fs_31
dataset['fs_31'] = dataset['fs_31'].apply(lambda x: str(x).split(' ')[0])

In [11]:
# dataset.isnull().sum()

In [12]:
dataset.shape

(472432, 437)

In [13]:
info_df=pd.read_csv(r'../info.psv',sep='|')

In [14]:
info_df.head()

        columns  na_values  non_na_values
0      trans_id          0         472432
1  fraud_or_not          0         472432
2      trans_dt          0         472432
3     trans_amt          0         472432
4     prod_code          0         472432

In [15]:
# info_df['%_NA']=info_df['na_values']/info_df['na_values']
info_df['%_NA']=(info_df['na_values']/472432)*100

In [16]:
info_df=info_df.sort_values(by=['%_NA'],ascending=False).reset_index(drop=True)

In [17]:
info_df.to_csv(r'../info%.csv',index=False)

In [18]:
def rename_imp_columns(df):
    column_map={'fs_33':'resolution','fs_31':'browser','fs_30':'os','fs_23':'proxy'}
    df.rename(columns=column_map,inplace=True)

In [19]:
rename_imp_columns(dataset)

In [20]:
null_data=dataset.isnull().sum()
t=pd.DataFrame({'columns':null_data.index, 'na_count':null_data.values})

In [21]:
print ("Normal transaction:", dataset['fraud_or_not'][dataset['fraud_or_not'] == 0].count()) #class = 0
print ("Fraudulent transaction:", dataset['fraud_or_not'][dataset['fraud_or_not'] == 1].count())

Normal transaction: 455881
Fraudulent transaction: 16551

In [22]:
correct_count=dataset['fraud_or_not'][dataset['fraud_or_not'] == 0].count()
fraud_count=dataset['fraud_or_not'][dataset['fraud_or_not'] == 0].count()
total_count=dataset['fraud_or_not'].count()
total_count,fraud_count,correct_count

In [24]:
df_fraud = dataset[dataset['fraud_or_not']==1]
df_fraud.describe() 
df_correct = dataset[dataset['fraud_or_not']==0]
df_correct.describe()
null_fraud_data=df_fraud.isnull().sum()*100/fraud_count
df_fraud_na_per=pd.DataFrame({'column_name':null_fraud_data.index, 'na_percentage':null_fraud_data.values})
# df_fraud_na_per

In [25]:
df_correct_na_per = pd.DataFrame(df_correct.isnull().sum()*100/correct_count,columns=['na_percentage'])
df_correct_na_per = df_correct_na_per.rename_axis('column_name').reset_index()
# df_correct_na_per

In [26]:
df_compare_fraud_correct_na = pd.merge(df_fraud_na_per, df_correct_na_per, how='inner',on=['column_name'],suffixes=('_fraud', '_correct'))
df_compare_fraud_correct_na['percentage_change'] = abs(df_compare_fraud_correct_na['na_percentage_fraud'] - df_compare_fraud_correct_na['na_percentage_correct'])
df_compare_fraud_correct_na = df_compare_fraud_correct_na.sort_values(by='percentage_change',ascending=False).reset_index(drop=True)